
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
content:"";
display: table ;
clear: both;
}



/*
body {
    background-color: black;
    background-image: url('https://images.pexels.com/photos/33597/guitar-classical-guitar-acoustic-guitar-electric-guitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafad2;
    font-family: 'Kalam', cursive;
}



h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
header, main {
    padding: 20px;
    margin: 0 auto;

}
header {
    background-color: rgb(33, 33, 33, 0.8);

}

main {


}

main div {
    display: block;
    float: left;
    width: 33.33%;
}

main div p {
    padding: 20px;
    background-color: rgb(33, 33, 33, 0.8);

    border-radius: 10px;
    text-align: center;
}

main div:nth-child(2) p {
    color: crimson;
}


@media (max-width: 767px) {
    main {
        margin-top: 200px;
    
    }
    main div {
        display: block;
        float: left;
        width: 100%;
    }
}
*/

